body, html {
    height: 100%;
    border: none;
    background-color: #E9EBEE !important;
    
}

nav {
    text-align: center;
    border-top: 1px solid #e8dbdb;
    border-bottom: 1px solid #413e3e; 
}

.menu {
	font-size: 18px;
	font-weight: bold;
}

.box {
    background-color: #E9EBEE; 
    padding-bottom: 30px;
	padding-top: 50px;
    text-align: left;
}

td {
    border:solid;
    border-width: 1px;
    text-align: center;
}

th {
    border:solid;
    border-width: 1px;
    text-align: center;
}

tr{
    border:solid;
    border-width: 2px;
}
thead > tr > th {
    text-align: center;
    border-bottom: 1px solid #000000 !important; 
}
