<!DOCTYPE HTML>
<html>
<head>
    <title>WebApp - Add Cipher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link type="text/css" href="css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="css/style.css" rel="stylesheet" />
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
</head>
<body ng-app="pointsCounter">
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top center">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav menu">
            <li><a href="/">Home</a></li>
            <li><a href="register">Register</a></li>
            <li><a href="user">Profile</a></li>
            <li><a href="ciphers">My ciphers</a></li>
            <li class="active"><a href="addcipher">Add cipher</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="box container">

  <br />
  <p th:text="${error != null}?'Error: ' + ${error}" />
  <form action="#" th:action="@{/addcipher}" th:object="${cipher}" method="post" ng-controller="pointsController">
  	<p th:text="'Your points: ' + ${points}" />
      <p>Required points: {{count}}</p>
      <p>Cipher (MD5): <input type="text" th:field="*{hash}" required="required" /></p>
      <p>Possible characters: <input type="text" th:field="*{possibleCharacters}" required="required" ng-change="updatePts()" ng-model="alphabet" /></p>
      <p>Max length: <input type="text" th:field="*{maxLength}" required="required" ng-change="updatePts()" ng-model="maxlength" /></p>
      <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
  </form>

</div>

<script type="text/javascript">
//<![CDATA[ 
  angular.module('pointsCounter', [])
    .controller('pointsController', ['$scope', function($scope) {

        $scope.count = 0;
      $scope.updatePts = function() {
            var possibleCombinations = 0;
            var combinations = 1;
            

            if($scope.maxlength == null || isNaN($scope.maxlength) || $scope.alphabet == null) {
                return;
            }

            var uniques = "";
            for(var i = 0; i < $scope.alphabet.length; ++i) {
                if(uniques.indexOf($scope.alphabet[i]) < 0) {
                    uniques += $scope.alphabet[i];
                }
            }
            
            for(var i = 0; i < parseInt($scope.maxlength); ++i) {
                combinations *= uniques.length;
                possibleCombinations += combinations;
            }
            possibleCombinations /= 10000000;

            $scope.count = Math.round(possibleCombinations);
      };
    }]);
//]]>
</script>

</body>
</html>