<!DOCTYPE HTML>
<html>
<head>
    <title>WebApp - Ciphers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="css/style.css" rel="stylesheet" />
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top center">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav menu">
            <li><a href="/">Home</a></li>
            <li><a href="register">Register</a></li>
            <li><a href="user">Profile</a></li>
            <li class="active"><a href="ciphers">My ciphers</a></li>
            <li><a href="addcipher">Add cipher</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<br />
<div class="box container">
<table class="table table-striped">
  <tr>
    <th>Cipher</th>
    <th>Possible characters</th>
    <th>Max length</th>
    <th>Decoded cipher</th>
    <th>Delete</th>
  </tr>
  <tr th:each="cipher,iterStat : ${list}">
    <td th:text="${cipher.hash}"></td>
    <td th:text="${cipher.possibleCharacters}"></td>
    <td th:text="${cipher.maxLength}"></td>
    <td th:text="${cipher.decoded}"></td>
    <td><a th:href="@{/delete(id=${cipher.id})}">Delete</a></td>
  </tr>
</table>
</div>
</body>
</html>