<!DOCTYPE HTML>
<html>
<head>
    <title>WebApp - Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="css/style.css" rel="stylesheet" />
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>

</head>

<style>
.password {
	background-color: #333333;
}
.password:hover {
    background-color: #E9EBEE;
}
</style>

<body>
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top center">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav menu">
            <li><a href="/">Home</a></li>
            <li><a href="register">Register</a></li>
            <li class="active"><a href="user">Profile</a></li>
            <li><a href="ciphers">My ciphers</a></li>
            <li><a href="addcipher">Add cipher</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="box container">
<br />
<p th:text="'Username: ' + ${user.userName}" />
<p> Password: <span class="password" th:text="${user.password}"></span></p>
<p th:text="'Email: ' + ${user.email}" />
<p th:text="'Points: ' + ${user.points}" />
</div>
</body>
</html>